<%
  url = data[:url]
  current_step = data[:current_step]
  step = data[:step]
  if step < current_step
    status = "complete"
  elsif step == current_step
    status = "active"
  elsif step > current_step
    status = "locked"
  end
  data = data.merge(status: status)
  css_class = "block workflow workflow-#{status}"
%>

<% if status == "active" %>
  <a href="<%= url %>" class="<%= css_class %>">
    <%= render partial: "workflow_step_contents", locals: data %>
  </a>
<% else %>
  <div class="<%= css_class %>">
    <%= render partial: "workflow_step_contents", locals: data %>
  </div>
<% end %>
