<div class="flex justify-between" style="background-color: #dbe1e8; padding: 8px;">
  <div>
    <%= link_to admin_path(status: nil) do %>
      Everyone (<%= User.count %>)
    <% end %>
  </div>
  <div>
    <%= link_to admin_path(status: User::TASK_SUBMITTED) do %>
      Pending Review (<%= User.where(status: User::TASK_SUBMITTED).count %>)
    <% end %>
  </div>
  <div>
    <%= link_to admin_path(status: User::APPLICATION_FORM_SUBMITTED) do %>
      Form Submitted (<%= User.where(status: User::APPLICATION_FORM_SUBMITTED).count %>)
    <% end %>
  </div>
</div>

<main>
  <h2>
    <%= @filter.to_string %>
    &mdash; <%= @students.count %> students
  </h2>
  <table class="admin-table">
    <thead>
    <tr>
      <th>email</th>
      <th>Full Name</th>
      <% unless @filter.active? %>
        <th>Status</th>
      <% end %>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% @students.each do |s| %>
      <tr>
        <td style="padding: 0 16px;">
          <p>
            <%= s.email %>
          </p>
        </td>
        <td>
          <p>
            <%= s.full_name %>
          </p>
        </td>
        <% unless @filter.active? %>
          <td>
            <p>
              <%= s.status %>
            </p>
          </td>
        <% end %>
        <td>
          <%
            t = s.task_submissions.last
            if t
          %>
            <%= link_to "Download Submission", url_for(t.uploaded_file), class: "block", style: "padding: 16px;" %>
          <% end %>
        </td>
        <td>
          <%= link_to "Details", admin_student_path(id: s.id), class: "block", style: "padding: 16px;" %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</main>
