<div class="flex justify-between" style="background-color: #dbe1e8; padding: 8px;">
  <div>
    <%= link_to admin_path(status: nil) do %>
      Everyone (<%= User.kept.count %>)
    <% end %>
  </div>
  <div>
    <%= link_to admin_path(status: User::TASK_SUBMITTED) do %>
      Pending Review (<%= User.kept.where(status: User::TASK_SUBMITTED).count %>)
    <% end %>
  </div>
  <div>
    <%= link_to admin_path(status: User::APPLICATION_FORM_SUBMITTED) do %>
      Form Submitted (<%= User.kept.where(status: User::APPLICATION_FORM_SUBMITTED).count %>)
    <% end %>
  </div>
</div>

<main>
  <h2 class="mt-2 text-white">
    <%= @filter.to_string %>
    &mdash; <%= @students.count %> students
  </h2>
  <p class="mb-16">
    <%= paginate @students %>
    <%= page_entries_info @students, entry_name: 'student' %>
  </p>
  <table class="admin-table bg-white">
    <thead>
    <tr>
      <th>email</th>
      <th>Full Name</th>
      <th>Last updated at</th>
      <% unless @filter.active? %>
        <th>Status</th>
      <% end %>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% @students.each do |s| %>
      <tr>
        <td class="text-gray-800">
          <p class="text-gray-800">
            <%= s.email %>
          </p>
        </td>
        <td>
          <p class="text-gray-800">
            <%= s.full_name %>
          </p>
        </td>
        <td>
          <p class="text-gray-800">
            <%= time_ago_in_words(s.updated_at) %> ago
          </p>
        </td>
        <% unless @filter.active? %>
          <td>
            <p class="text-gray-800">
              <%= s.status %>
            </p>
          </td>
        <% end %>
        <td>
          <%
            t = s.task_submissions.last
            if t
          %>
            <%= link_to "Download Submission", url_for(t.uploaded_file), class: "block", style: "padding: 16px;" %>
          <% end %>
        </td>
        <td>
          <%= link_to "Details", admin_student_path(id: s.id), class: "block", style: "padding: 16px;" %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <p>
    <%= paginate @students %>
  </p>
</main>
