<%
  unq_caption ||= "Unqualified"
  atpar_caption ||= "At par"
  good_caption ||= "Good"
%>

<div class="mb-4">
  <p class="text-lg font-bold"><%= caption %></p>

  <div class="radio-toolbar">
    <input type="radio"
           id="<%= field %>_unq"
           name="review[<%= field %>]"
           value="0"
           <%= review.attributes[field] == 0 ? "checked" : "" %>
    >
    <label for="<%= field %>_unq"><%= unq_caption %></label>

    <input type="radio"
           id="<%= field %>_par"
           name="review[<%= field %>]"
           value="1"
           <%= review.attributes[field] == 1 ? "checked" : "" %>
    >
    <label for="<%= field %>_par"><%= atpar_caption %></label>

    <input type="radio"
           id="<%= field %>_good"
           name="review[<%= field %>]"
           value="2"
           <%= review.attributes[field] == 2 ? "checked" : "" %>
    >
    <label for="<%= field %>_good"><%= good_caption %></label>
  </div>
</div>
