<div class="flex w-full">
  <div class="max-w-xs mt-8 bg-white mr-8">
    <%= link_to "Download Code", url_for(student.task_submissions.last.uploaded_file), class: "block text-center p-4" %>
  </div>

  <div class="max-w-xs mt-8 bg-white">
    <%= link_to "Automated tests", "https://github.com/nseadlc-2020/#{student.id}/actions?query=workflow%3A%22Node.js+Test+Runner%22", class: "block p-4 text-center" %>
  </div>
</div>

<%= form_tag(review_save_review_path(id: @student.id), class: "pb-16") do %>
  <div class="grid gap-4 grid-cols-3 mt-8">
    <%= render partial: "review_metric", locals: {
      review: review,
      caption: "Tests passing",
      field: "tests_passing",
    } %>

    <%= render partial: "review_metric", locals: {
      review: review,
      caption: "Code cleanliness",
      field: "clean_code",
    } %>

    <%= render partial: "review_metric", locals: {
      review: review,
      caption: "Program design",
      field: "program_design",
    } %>

    <%= render partial: "language_selection", locals: {
      review: review,
      caption: "Language selection",
      field: "language_selection",
    } %>
  </div>

  <div class="grid gap-4 grid-cols-2 mt-8">
    <div class="mb-4 ReviewPage-text">
      <p class="text-gray-200 mb-1 text-sm">Portfolio</p>
      <%== simple_format(student.portfolio).gsub(URI.regexp, '<a href="\0">\0</a>').html_safe %>
    </div>

    <div class="mb-4 ReviewPage-text">
      <p class="text-gray-200 mb-1 text-sm">What excites you about programming?</p>
      <%== simple_format(student.anything_else).gsub(URI.regexp, '<a href="\0">\0</a>').html_safe %>
    </div>

    <%= render partial: "review_metric", locals: {
      review: review,
      caption: "Portfolio quality",
      field: "portfolio_quality",
      unq_caption: "Not enough data",
      atpar_caption: "At par",
      good_caption: "Good"
    } %>

    <%= render partial: "review_metric", locals: {
      review: review,
      caption: "Holistic evaluation",
      field: "holistic_evaluation",
    } %>

    <div class="mb-4">
      <p>Private notes:</p>
      <%= text_area "review", "private_notes", class: "mt-2 shadow-sm bg-gray-900 border-gray-600 font-spacemono text-white focus:ring-1 focus:ring-primary-500 focus:border-primary-500 focus:ring-opacity-50 block w-full sm:text-sm rounded h-16" %>
    </div>
  </div>

  <button type="submit" class="mt-4 flex items-center justify-center w-full md:w-auto text-center text-base font-medium px-6 py-3 bg-gradient-to-b from-primary-400 to-primary-700 text-gray-900 border border-primary-300 font-montserrat rounded shadow-lg focus:ring-2 focus:ring-primary-200 hover:shadow-xl focus:from-primary-500 focus:to-primary-900 hover:from-primary-600 hover:to-primary-900 transition duration-250 ease-in-out">
    <span>Save Review &amp; Continue</span>
  </button>
<% end %>
