<main class="ReviewPage">
  <% if @student.status == User::TASK_SUBMITTED || @student.status == User::TASK_REVIEWED %>
    <p class="mt-4">
      <%= User.kept.where(status: User::TASK_SUBMITTED).count %>
      submissions left to be reviewed.
    </p>
  <% end %>

  <div class="text-white mt-12 text-sm">
    <div class="font-bold mb-4">
      <p class="mb-2 text-2xl"><%= @student.full_name %></p>
    </div>

    <div class="mb-4 ReviewPage-text hidden">
      <a href="mailto:<%= @student.email %>" class="block mb-4 font-normal"><%= @student.email %></a>
      <p class="text-gray-200 mb-1 text-sm">Course, College</p>
      <%= @student.semester.to_i.ordinalize %> semester, <%= @student.course %>, <%= @student.college %>
    </div>
  </div>

  <p class="mb-4">
    <%= @student.status.upcase %>
  </p>

  <div class="max-w-xs my-8 bg-white mr-8">
    <%= link_to "View in Admin interface", "/admin/users/#{@student.id}", class: "block text-center p-4" %>
  </div>

  <% if @student.status == User::TASK_SUBMITTED || @student.status == User::TASK_REVIEWED %>
    <%= render partial: 'submission_review', locals: { student: @student, review: @review } %>
  <% end %>
</main>
