<h2 class="">1. Fill in application form</h2>
<main>
  <%= form_tag(students_student_application_form_path) do %>
    <div class="input mb-48">
      <%= label "form", "email" do %>
        <p>
          Your email address:
        </p>
        <%= email_field "form", "email", readonly: true, class: "locked-input" %>
      <% end %>
    </div>

    <div class="input mb-48">
      <%= label "form", "first_name" do %>
        <p>
          What is your first name?
          <small class="text-rights subdued block">
            we will use this name to address you.
          </small>
        </p>
        <%= text_field "form", "first_name", autofocus: true %>
      <% end %>
    </div>

    <div class="input mb-48">
      <%= label "form", "full_name" do %>
        <p>
          What is your full name?
          <small class="text-rights subdued block">
            as it appears in your official records.
          </small>
        </p>
        <%= text_field "form", "full_name" %>
      <% end %>
    </div>

    <div class="input mb-48">
      <%= label "form", "phone_number" do %>
        <p>
          What is your valid mobile number?
        </p>
        <%= phone_field "form", "phone_number" %>
      <% end %>
    </div>

    <div class="input mb-48">
      <%= label "form", "dob" do %>
        <p>
          What is your date of birth?
          <small class="text-rights subdued block">
            you have to be between 18 and 25 years to participate in this program.
          </small>
        </p>
        <%= date_field "form", "dob", min: "1995-01-01", max: "2003-01-01" %>
      <% end %>
    </div>

    <div class="input mb-48">
      <%= label "form", "course" do %>
        <p>
          Course/Program that you are enrolled in?
          <small class="text-rights subdued block">
            for eg: Electronics and Communication Engineering
          </small>
        </p>
        <%= text_field "form", "course" %>
      <% end %>
    </div>


    <div class="input mb-48">
      <%= label "form", "semester" do %>
        <p>Which semester will you be in Jan-Apr 2021?</p>
        <%= select("form", "semester", User::VALID_SEMESTERS, prompt: 'please select') %>
      <% end %>
    </div>

    <div class="input mb-48">
      <%= label "form", "college" do %>
        <p>
          Your college and university name, and its location?
          <small class="text-rights subdued block">
            for eg: IIIT, Hyderabad
          </small>
        </p>
        <%= text_field "form", "college" %>
      <% end %>
    </div>

    <div class="input mb-48">
      <%= label "form", "state" do %>
        <p>In which state is your University/College located at?</p>
        <%= select("form", "state", User::VALID_STATES, prompt: 'please select') %>
      <% end %>
    </div>

    <div class="input mb-48">
      <%= label "form", "portfolio" do %>
        <p>
          Links to anything digital you have created?
          <small class="text-rights subdued block">
            websites, webapps, simple programs, or just code you wrote
          </small>
        </p>
        <%= text_area "form", "portfolio" %>
      <% end %>
    </div>

    <div class="input mb-48">
      <%= label "form", "anything_else" do %>
        <p>
          Anything else you might want to add?
          <small class="text-rights subdued block">
            and do tell us about what you enjoy about programming!
          </small>
        </p>
        <%= text_area "form", "anything_else" %>
      <% end %>
    </div>

    <div class="input mb-48">
      <%= label "form", "source" do %>
        <p>How did you get to know about the programme?</p>
        <%= select("form", "source", User::VALID_SOURCE, prompt: 'please select') %>
      <% end %>
    </div>

    <div class="input mb-48">
      <%= label "form", "terms_agreed" do %>
        <p>
          Do you agree to the Terms for Participation in the program?
        </p>
        <div class="flex items-center">
          <%= check_box("form", "terms_agreed", class: "mr-16 block") %>
          <span class="block">
            I have read and agree to the <%= link_to "Terms for Participation", terms_path %>
          </span>
        </div>
      <% end %>
    </div>


    <p>
      Do read the form once more and make sure everything is written as well as you can. Submit when you're
      ready!
    </p>
    <p>
      <%= submit_tag "Submit & Continue" %>
    </p>
  <% end %>
</main>
