<!DOCTYPE html>
<html>
<head>
  <title>Merkid</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body class="container">
<% if @student %>
  <div class="flex justify-between">
    <p class="mb-0 subdued"> <%= @student.more_context_name %> </p>
    <p class="mb-0 subdued"> <%= link_to "Logout", logout_url, class: "subdued" %></p>
  </div>
<% end %>

<h1>Apply to CoronaSafe Engineering Fellowship</h1>

<% if flash[:info] %>
  <p class="flash">
    <%= flash[:info] %>
  </p>
<% end %>

<%= yield %>

<h4>For any questions, email us at <a href="mailto:fullstack@pupilfirst.org">fullstack@pupilfirst.org</a></h4>

<% if Rails.env.development? %>
  <% if @student %>
  <pre style="margin-top: 100px; font-size: 14px; color: #41474e; font-family: monospace">
  <%== JSON.pretty_generate(@student.as_json) %>
</pre>
  <% end %>
<% end %>

</body>
</html>
