<!DOCTYPE html>
<html>
<head>
  <title>CoronaSafe Engineering Fellowship Application</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body class="">
<div class='<%= @is_admin_page ? "admin-root" : "root" %>'>
  <% if @student %>
    <div class="flex justify-between">
      <% if (current_page?(root_path) || current_page?(students_path)) %>
        <div></div>
      <% else %>
        <p class="mb-0 subdued">
          <%= link_to "Home", root_path, class: "subdued" %>
        </p>
      <% end %>
      <div class="flex">
        <p class="mb-0 mr-32 subdued"> <%= @student.more_context_name %> </p>
        <p class="mb-0 subdued"> <%= link_to "Logout", logout_url, class: "subdued" %></p>
      </div>
    </div>
  <% end %>

  <% if @is_admin_page %>
    <h1>Admin</h1>
  <% else %>
    <h1>CoronaSafe Engineering Fellowship - Application steps </h1>
  <% end %>

  <%= render partial: "layouts/flash", locals: { msg: flash[:info], css: "flash-info animation-vibrate" } %>
  <%= render partial: "layouts/flash", locals: { msg: flash[:success], css: "flash-success animation-vibrate" } %>
  <%= render partial: "layouts/flash", locals: { msg: flash[:error], css: "flash-error animation-vibrate" } %>

  <%= yield %>

  <div class="mt-32">
    <h4>For any questions, email us at <a href="mailto:fullstack@pupilfirst.org">fullstack@pupilfirst.org</a></h4>
  </div>

  <% if @student %>
    <div class="exposed-ceiling">
<pre class="">
<%== JSON.pretty_generate(@student.as_json) %>
</pre>
      For your reference.
    </div>
  <% end %>
</div>
</body>
</html>
