<!DOCTYPE html>
<html>
<head>
  <title>Merkid</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body class="container">
<h1>Apply to CoronaSafe Engineering Fellowship</h1>
<%= yield %>
<h4>For any questions, email us at <a href="mailto:fullstack@pupilfirst.org">fullstack@pupilfirst.org</a></h4>

</body>
</html>
